body {
	font-family: 'Montserrat', sans-serif;
	background-image: url('cryptoBanner.jpg');
	background-repeat: no-repeat;
	
}

h1 {
	text-align: center;
	color: #1E90FF;
	font-weight:bold;
	font-size: 30px;
	text-decoration: none;
}
p {
	text-align: center;
	color: #1E90FF;
	font-size: 20px;
}

textarea {
    resize: none;
    font-size: 20px;
    box-shadow: 10px 10px 5px #708090;
}

tr, td {
	display: block;
	margin: 0 0 20px;
	color: #1E90FF;
	font-weight:bold;
	font-size: 18px;
	text-decoration: none;
}

input[type="button"] {
 	font-size: 14px;
 	width: 15%;
 	padding: 6px 0;
 	background: green;
 	color: white;
 	font-weight: bolder;
 	border: none;
 	border-radius: 5px;
 	cursor: pointer;

}
 
.copyright {
	text-align: center;
	color: #000000;
	font-size: 15px;
}

@media screen and (max-width:480px ) {

body {
	background-image: url('cryptoBannerTop.jpg');
	background-size: 700px ;
}
h1{
	font-size: 25px;
	color: #0000FF;

}
	
p {
	font-size: 16px;
	color: #0000FF;
	font-weight:bold;
}
tr, td {
	font-size: 20px;
	color: #0000FF;
}

input[type="button"] {
	width: 40%;
}